*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.joke-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin: 20px auto;
}
.joke-content{
  border: 2px solid gray;
  padding: 15px;
  text-align: center;
}